

<div class="chatroom">
<div class="mainContent">
  <div class="feedWrapper">
    <app-feed></app-feed>
  </div>
</div>

<div class="chatFormWrapper">
  <app-chat-form></app-chat-form>
</div>
</div>
<div class="dice-div">
  <button class="makevisbutton" (click)="this.switchWuerfelwunschState()">Würfeln</button>
  <div class="inviscontent" *ngIf="this.wuerfelwunsch">

    <label for="in1">Anzahl Würfe:</label>
    <input type="number" id="in1"class="dice-in" [(ngModel)] = "this.anzahlwuerfe" >
    <label class="dice-content" for="in2">Anzahl Würfelseiten: </label>
    <input type="number" id="in2"class="dice-in" [(ngModel)] = "this.wuerfelseiten">
    <div *ngIf="player">
      <button class="rollbutton" (click)="roll(this.anzahlwuerfe, this.wuerfelseiten, player)"> GO </button>
    </div>
    <div *ngIf="!player">
      <button class="rollbutton" (click)="roll(this.anzahlwuerfe, this.wuerfelseiten)"> GO </button>
    </div>
  </div>
</div>
