.divv{
  width: 600px;

}
.chatInput{
  text-align: left;
  width: 372px;
}

.chatInput:focus{
  background-color: #E4F1FE;
  color: #222;
  transition: 0.2s ease-in;
}
.chatButton:hover{
  background-color: darkgoldenrod;
}
