<!doctype html>
<head>
  <title>SLF</title>
</head>

<body>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="backgroundcolor">
  <h1 class="backgroundcolor text-warning pixel"> SLF CHARACTER PLAY</h1>
    <nav class="navbar navbar-expand-lg backgroundcolor navbar pixel">
      <div class="dropdown">
        <button class="navbar-brand dropbtn">Spieler</button>
        <div class="dropdown-content">
          <ng-container *ngFor="let p of players">
            <button (click)="gotoPlayer(p.id)">{{p.playerPersonaldata.Name}} {{p.playerPersonaldata.Lastname}}</button>
          </ng-container>
        </div>
      </div>
    </nav>
  </div>

<router-outlet></router-outlet>
</body>

