<head>

</head>

<body>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="bg-dark " >
  <h1 class="bg-dark text-white "> SLF CHARACTER PLAY</h1>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand navbar-dark bg-dark text-white" [routerLink]="['/mainmenu']">Mainmenu</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link navbar-dark bg-dark text-white"[routerLink]="['/player']">Spieler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-dark bg-dark text-white" [routerLink]="['/master']">Master</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
</body>
