/* You can add global styles to this file, and also import other style files */
main {
  font-family: pixel;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: darkorange;
}
body {
  background-size: cover;
  background-image: url("assets/pictures/bg1.jpg");
  background-color: black;
  opacity: initial;

}
.attributfelder {
  margin-right: 5rem;
}
@font-face {
  font-family: pixel;
  src: url("assets/font/pixelfont.TTF") format("truetype");
}
.pixel {
  font-family: pixel;
}
