<div class="container" *ngIf="player">
  <div class="row">
    <div class="col-2">
      <label for="playerName">Name:</label>
      <output type="text" id="playerName" name="playerName">{{player.playerPersonaldata.Name}}</output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Familie:</label>
      <output type="text" id="playerFamilyName" name="playerName">{{player.playerPersonaldata.Lastname}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Geburtsort:</label>
      <output type="text" id="playerBirthplace" name="playerName">{{player.playerPersonaldata.Geburtsort}}</output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Geburtsdatum:</label>
      <output type="text" id="playerBirthdate" name="playerName">{{player.playerPersonaldata.Geburtsdatum}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Alter:</label>
      <output type="text" id="playerAge" name="playerName">{{player.playerPersonaldata.alter}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Geschlecht:</label>
      <output type="text" id="playerGender" name="playerName">{{player.playerPersonaldata.geschlecht}}</output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Spezies:</label>
      <output type="text" id="playerSpezis" name="playerName">{{player.spezies.Name}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Größe:</label>
      <output type="text" id="playerHight" name="playerName">{{player.playerPersonaldata.groesse}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Gewicht:</label>
      <output type="text" id="playerWeight" name="playerName">{{player.playerPersonaldata.gewicht}}</output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Haarfarbe:</label>
      <output type="text" id="playerHairColor" name="playerName">{{player.playerPersonaldata.Haarfarbe}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Augenfarbe:</label>
      <output type="text" id="playerEyeColor" name="playerName">{{player.playerPersonaldata.Augenfarbe}}</output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Kultur:</label>
      <output type="text" id="playerCultur" name="playerName"></output>
    </div>
    <div class="col-2">
      <label for="playerName">Profession:</label>
      <output type="text" id="playerProfession" name="playerName"></output>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label for="playerName">Titel:</label>
      <output type="text" id="playerTitle" name="playerName">{{player.playerPersonaldata.titel}}</output>
    </div>
    <div class="col-2">
      <label for="playerName">Profession:</label>
      <output type="text" id="playerSocialstatus" name="playerName">{{player.playerPersonaldata.Sozialstatus}}</output>
    </div>
  </div>
</div>
