<div>Moin Jungs
  <div>
    <nav>
      <ul>
        <li><a class="nav-link" routerLink='/player/talents/body-talents' >Körpertalente</a></li>
      </ul>
      <ul>
        <li><a class="nav-link" routerLink='/player/talents/body-talents' >Gesellschaftstalente</a></li>
      </ul>
      <ul>
        <li><a class="nav-link" routerLink='/player/talents/body-talents' >Naturtalente</a></li>
      </ul>
      <ul>
        <li><a class="nav-link" routerLink='/player/talents/body-talents' >Wissenstalente</a></li>
      </ul>
      <ul>
        <li><a class="nav-link" routerLink='/player/talents/body-talents' >Handwerkstalente</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>

