<div class="container">
  <button id="playermenubutton" class="btn btn-secondary">Spieler</button>
  <button id="mastermenubutton" class="btn btn-secondary">Meister</button>
  <button id="settings" class="btn btn-secondary">Einstellungen</button>
</div>
<table>
  <thead>
    <tr>
      <th>Spieler</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of players">
      <tr>
        <td>{{p.playerPersonaldata.Name}} {{p.playerPersonaldata.Lastname}}</td>
      </tr>
    </ng-container>
  </tbody>

</table>

